.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 72px;
  overflow: hidden;
  background-color: #ffffff;
  // background-image: url('/images/background.svg');
}

.Header__svg {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  will-change: transform;
}
.Header__title {
  font-family: Avenir, Futura, 'Open Sans', 'Gill Sans', 'Helvetica Neue', Ariel, sans-serif;
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
}

.bigSquare {
  animation-name: bigSquare;
}
@keyframes bigSquare {
  from { transform: translateY(10%) rotate(-80deg) scale(0); }
  to { transform: translateY(0) rotate(0deg) scale(1); }
}
.littleSquare {
  animation-name: littleSquare;
}
@keyframes littleSquare {
  from { transform: translate(226%, 183%) rotate(140deg) scale(0) ; }
  to { transform: translate(0%, 0%) rotate(0deg) scale(1); }
}
.triangle {
  animation-name: triangle;
}
@keyframes triangle {
  from { transform: rotate(-140deg) scale(0) ; }
  to { transform: rotate(0deg) scale(1); }
}
.hoop {
  animation-name: hoop;
}
@keyframes hoop {
  from { transform: translate(-160%, -33%) scale(0) ; }
  to { transform: translate(0%, 0%) scale(1); }
}
.bigCircle {
  animation-name: bigCircle;
}
@keyframes bigCircle {
  from { transform: scale(0) translate(60%, 3%); }
  to { transform: scale(1) translate(0%, 0%); }
}
.littleCircle {
  animation-name: littleCircle;
}
@keyframes littleCircle {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

// some lovely sass fun to stagger the animation

@for $i from 1 to 12 {
  .Header__shape:nth-child(#{$i}) { 
    animation-delay: $i * 0.16s;
  }
}
