.sideBar {
  color: #ffffff;
  overflow-y: auto;
}

.baseMenu {
  font-weight: bolder;
}

.logo {
  height: 50px;
  margin-bottom: 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  img {
    height: 50px;
    width: 120px;
  }
}
